{
  "target": {
    "default": {
      "depends": [
        {% for config in images.configs %}
        "{{ config.imageName }}"{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    },
    {% for config in images.configs %}
    "{{ config.imageName }}": {
      "context": ".",
      "dockerfile": "images/{{ config.imageTag }}/Dockerfile",
      "tags": ["{{ images.owner }}/{{ config.imageName }}:{{ config.imageVer }}"],
      "platforms": ["linux/amd64"],
      "cache-from": ["docker.io/{{ images.owner }}/{{ config.imageName }}:{{ config.imageVer }}"],
      "cache-to": ["type=inline"],
      "output": ["type=registry,push=true"]
    }{% if not loop.last %},{% endif %}

    {% endfor %}
  }
}
