{
  "target": {
    "default": {
      "depends": [
        {%- for c in configs if c.arch == arch_platform -%}
        "{{ c.imageName }}"{% if not loop.last %}, {% endif %}
        {%- endfor %}
      ]
    }
    {%- for c in configs if c.arch == arch_platform %}
    , "{{ c.imageName }}": {
      "context": ".",
      "dockerfile": "images/{{ c.imageTag }}/Dockerfile",
      "tags": ["{{ owner }}/{{ c.imageName }}:{{ c.imageVer }}"],
      "platforms": ["linux/{{ arch_platform }}"],
      "cache-from": ["docker.io/{{ owner }}/{{ c.imageName }}:{{ c.imageVer }}"],
      "cache-to": ["type=inline"],
      "output": ["type=registry,push=true"]
    }
    {%- endfor %}
  }
}
